.content {
	text-align: center;
}

.inline {
	display: inline-block;
}
.inline1 {
	display: inline-block;
	width: 330px;
}
#frm {
	width: 498px;
	height: 515px;
	border: 1px solid gray;
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: 5pt;
}
label {
	display: inline-block;
	width: 100px;
	text-align: right;
	font-size: 14pt;
}

[type="text"], [type="password"] {
	width: 330px;
	font-size: 14pt;
}

[type="password"] {
	width: 330px!important;
	font-size: 14pt;
}
span {
	font-size: 14pt;
	
}
.avtmainblock {
	display: inline-block;
	width: 330px;
	height: 100px;
	margin: 5px;
	font-size: 0pt;
	text-align: center;
	
}
.avtblock {
	display: inline-block;
	width: 105px;
/* 	margin-right: -10px;
	margin-left: -10px; */
	
}

.avtsubblock {
	display: inline-block;
	width: 100px;
	height: 85px;
	margin: 0px;
	overflow: hidden;
	
	
}

.header {
	width: 500px;
	height:40px;
	font-size: 25pt;
	background-color: #E91E63;
	color: white;
	text-align:center;
	padding-bottom: 5px;
}

.but > button {
	width: 33.33%;
	border: 0pt; 
	height: 30px;
	color: white;
	cursor: pointer;
}
img {
	width: 90px;
	height: auto;
}

.content > button:last-child {
	background-color: #2196f3;
	border: none;
	color: white;
}

.but {
	font-size:0pt;
	margin-top: 15px;
}

.avtblock > div > input {
	margin-top: 15px;
}
.avtblcok >div:last-child {
	height: 10px;
}

.ge {
	display: inline-block;
	width: 330px;
	font-size:10pt;	
}
.ge > * {
	display: inline-block;
	width: 160px;
}
#id {
	width: 250px;
}
#avtla {
	width: 95px;
	position: relative;
	top: -214px;
}
#rbtn {
	background-color: #ff5722;
}
#hbtn {
	background-color: #4caf50;;
}
#jbtn {
	background-color: #2196f3;
}